@page
@model Autenticazione.Pages.LoginModel
@{
    <form>
        <div class="form-group">
            <label for="NomeUtenteLogin">NomeUtente</label>
            <input type="email" class="form-control" id="NomeUtenteLogin" aria-describedby="emailHelp" placeholder="Enter username">
        </div>
        <div class="form-group">
            <label for="PasswordLogin">Password</label>
            <input type="password" class="form-control" id="PasswordLogin" placeholder="Password">
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Invio</button>
    </form>

}
